@model WebAtividadeEntrevista.Models.ClienteModel

<button type="button" onclick="modalBeneficiarios(@Model.Id)" class="btn btn-primary" data-toggle="modal" data-target=".modal-lg">
    Beneficiários
</button>

<div class="modal fade modal-lg" id="modalBeneficiario" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Beneficiários</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Beneficiario/Incluir" class="needs-validation" method="post" id="formEnviarBeneficiarioValidacao" name="formEnviarBeneficiarioValidacao">
                    <input type="hidden" value="@Model.Id" name="IdCliente" />
                    <div class="row visualizarBeneficiario">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Cpf">CPF:</label>
                                <input required="required" id="CpfBeneficiario" type="text" class="form-control" name="Cpf" placeholder="Ex.: 999.999.999-99" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Nome">Nome:</label>
                                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-success" style="margin-top: 26px;">Incluir</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">CPF</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-tabela-modal">
                        <tr id="editar-beneficiario-linhas" hidden>
                            <td class="cpf">
                                <input type="text" id="editarCpfBenef" class="form-control input-cpf" placeholder="Ex.: 999.999.999-99" maxlength="14">
                            </td>
                            <td class="nome">
                                <input type="text" class="form-control input-nome" placeholder="Ex.: João" maxlength="50">
                            </td>
                            <td>
                                <div>
                                    <button class="btn btn-sm btn-danger cancelar">Cancelar</button>
                                    <button class="btn btn-sm btn-success atualizar">Salvar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>